{% extends "base.html" %}

{% block main %}
<link href="{{ url_for('static', filename='assets/css/form.css') }}" rel="stylesheet">
<section id="hero" class="hero section">

  <div id="bg">
  </div>
    <div id="form">
      <h2>{% trans %}Reset Password{% endtrans %}</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <label for="new_password">{% trans %}New Password{% endtrans %}</label> {{ form.new_password() }}<br>
        <label for="confirm_password">{% trans %}Confirm New Password{% endtrans %}</label> {{ form.confirm_password() }}<br>
        
        {{ form.submit() }}
      </form>
      
      <p>{% trans %}Remembered your password?{% endtrans %} <a href="{{ url_for('account_sys.login') }}">{% trans %}Login{% endtrans %}</a></p>
      
    </div>
    <script>
      function autoScaleForm() {
        const form = document.getElementById('form');
        const designHeight = 600; 
        const scale = Math.min(window.innerHeight / designHeight, 1);
        form.style.transform = `scale(${scale})`;
      }
    
      window.addEventListener('load', autoScaleForm);
      window.addEventListener('resize', autoScaleForm);
    </script>
{% endblock main %}